# Required if you use the 'greenlet' or 'mixed' threading modes in the fetcher - check the config.json file
gevent>=0.13.8
# Optional (check the config.json file)
lxml>=3.1.2
# Not really required (yet), kept here for easy deployment
nltk>=2.0.4
